In [1]:
query = [
    '''
CREATE TABLE School (
    SchoolCode Integer Unique,
    Name Text,
    Address Text,
    Primary Key(SchoolCode)
)
    ''',
    '''
CREATE Table Staff(
    SchoolCode Integer ,
    Name TEXT ,
    Department TEXT,
    Contact TEXT,
    Foreign Key (SchoolCode) references School(SchoolCode)
)
    '''
]

In [3]:
#TASK 4.1
import sqlite3

conn = sqlite3.connect("schools.db")
cursor = conn.cursor()

for i in query:
    cursor.execute(i)

In [2]:
#Task 4.2
import csv
import sqlite3

conn = sqlite3.connect("schools.db")
cursor = conn.cursor()

def task4_2():
    #import school db
    with open("resources/School.txt") as f:
        result = list(i for i in csv.reader(f))[1:]
        print(result)
    import_sch_query = '''
    INSERT INTO School(SchoolCode, Name, Address) VALUES (?,?,?)
        '''
    for school in result:
        cursor.execute(import_sch_query, school)


    #import staff db
    with open("resources/Staff.txt") as f:
        staff_result = list(x for x in csv.reader(f))[1:]
        print(staff_result)

    import_staff_query = '''
INSERT INTO Staff (SchoolCode, Name, Department, Contact) VALUES (?,?,?,?)
    '''

    for staff in staff_result:
        cursor.execute(import_staff_query, staff)
    conn.commit()

task4_2()

[['7001', 'NTU High School', ' 12 Nanyang Ave'], ['7010', 'Queens High School', ' 2 Queenstown'], ['8005', 'Lakeshore Institute', ' 67 Lake Rd']]
[['7001', 'Josepha', 'Arts', '98510291'], ['8005', 'Daisey', 'Arts', '91340416'], ['8005', 'Dalli', 'Science', '93682238'], ['7001', 'Brena', 'Science', '95099507'], ['8005', 'Clemmy', 'Arts', '99121258'], ['7010', 'Melisa', 'Math', '92468341'], ['8005', 'Shayla', 'Math', '90242588'], ['8005', 'Lovell', 'Math', '99474577'], ['8005', 'Elnora', 'Arts', '93230975'], ['7001', 'Libby', 'Arts', '91846808'], ['7010', 'Nikolas', 'Arts', '91490795'], ['7010', 'Lyon', 'Arts', '94821635'], ['7001', 'Leodora', 'Arts', '99318451'], ['8005', 'James', 'Math', '98313612'], ['7010', 'Yolande', 'Math', '97135073'], ['7001', 'Uriel', 'Math', '98946212'], ['7001', 'Mohandas', 'Arts', '91658663'], ['7001', 'Caprice', 'Math', '92780890'], ['8005', 'Kelsi', 'Math', '99096355'], ['8005', 'Meara', 'Math', '90956282']]

In [13]:
#Task 4.3

import sqlite3

conn = sqlite3.connect("schools.db")
cursor = conn.cursor()

display_query = ''' 
SELECT
    sch.Name,
    st.Name,
    st.Department,
    st.contact
FROM 
    school sch
INNER JOIN
    staff st ON sch.SchoolCode = st.SchoolCode
'''

cursor.execute(display_query)
data = cursor.fetchall()

In [17]:
from flask import Flask, render_template

app = Flask(__name__)

@app.route("/")
def home():
    return render_template("home.html", list = data)

app.run()

 * Serving Flask app '__main__'
 * Debug mode: off

WARNING: This is a development server. Do not use it in a production deployment. Use a production WSGI server instead.
 * Running on http://127.0.0.1:5000
Press CTRL+C to quit
127.0.0.1 - - [01/Oct/2025 12:24:49] "GET / HTTP/1.1" 200 -