# Task 3

The result of an international bowling tournament is stored in a file named `HEX_SCORE.TXT`. Due to a glitch in the scoring system, the values of the score are all in hexadecimal numbers. The file contains the player ID, the country code for the country the player is representing and the scores for the six games played in the tournament.

## Task 3.1

Write Python code to convert a string containing hexadecimal number to denary numbers. You are not allowed to use any built-in Python function.
<div style='text-align: right; font-family: Courier New, monospace;'>[5]</div>

In [2]:
# Task 3.1

def hex_to_denary (string):
    sum = 0
    count = 0
    for i in string[::-1]:
        if i.lower() == "a":
            value = 10
        elif i.lower() == "b":
            value = 11
        elif i.lower() == "c":
            value = 12
        elif i.lower() == "d":
            value = 13
        elif i.lower() == "e":
            value = 14
        elif i.lower() == "f":
            value = 15
        else:
            value = int(i)

        sum += value * (16**count)
        count += 1
    return sum

string = input()
hex_to_denary (string)

1

## Task 3.2

Each player's total score for the six games he/she played will be computed and thus determine his ranking in the tournament.

Write Python code to:
- read the data from the file `HEX_SCORE.TXT`
- compute the total score for each player
- use a bubble sort algorithm to sort the player's total score in descending order and then print the ranking of the players as follows in a similar format as given below:

<table style="font-family: 'Courier New', monospace; border-collapse: collapse; width: 20%;">
  <tr>
    <td style="border: 1px solid transparent; text-align: center;">Rank</td>
    <td style="border: 1px solid transparent; text-align: center;">ID</td>
    <td style="border: 1px solid transparent; text-align: center;">Score</td>
  </tr>
  <tr>
    <td style="border: 1px solid transparent; text-align: center;">1</td>
    <td style="border: 1px solid transparent; text-align: center;">Player175</td>
    <td style="border: 1px solid transparent; text-align: center;">1734</td>
  </tr>
  <tr>
    <td style="border: 1px solid transparent; text-align: center;">2</td>
    <td style="border: 1px solid transparent; text-align: center;">Player173</td>
    <td style="border: 1px solid transparent; text-align: center;">1723</td>
  </tr>
  <tr>
    <td style="border: 1px solid transparent; text-align: center;">3</td>
    <td style="border: 1px solid transparent; text-align: center;">Player168</td>
    <td style="border: 1px solid transparent; text-align: center;">1678</td>
  </tr>
  <tr>
    <td style="border: 1px solid transparent; text-align: center;">4</td>
    <td style="border: 1px solid transparent; text-align: center;">Player166</td>
    <td style="border: 1px solid transparent; text-align: center;">1670</td>
  </tr>
  <tr>
    <td style="border: 1px solid transparent; text-align: center;">5</td>
    <td style="border: 1px solid transparent; text-align: center;">Player189</td>
    <td style="border: 1px solid transparent; text-align: center;">1519</td>
  </tr>
  <tr>
    <td style="border: 1px solid transparent; text-align: center;">:</td>
    <td style="border: 1px solid transparent; text-align: center;">:</td>
    <td style="border: 1px solid transparent; text-align: center;">:</td>
  </tr>
</table>

<div style='text-align: right; font-family: Courier New, monospace;'>[6]</div>

In [3]:
# Task 3.2

import csv

def bubble_sort(arr):
    n = len(arr)
    for i in range (n-1):
        swapped = False
         
        for j in range (n-i-1):
            if arr[j][1] < arr[j+1][1]: #to inverse sort
                arr[j], arr[j+1] = arr[j+1], arr[j]
                swapped = True
            
        if not swapped:
            break
        
    return arr


with open("HEX_SCORES.txt") as f:
    file = csv.reader(f)
    selected_result = []
    result = [i for i in file]
    for person in result:
        sum_person = 0
        for i in range (2, 8):
            sum_person += hex_to_denary (person[i])
        selected_result.append([person[0], sum_person])
    
    #sorted_selected_result = sorted(selected_result, key = lambda x: x[1], reverse = True)
    sorted_selected_result = bubble_sort(selected_result)

print(f"Rank Id Score \n ")
for i in range (1, len(sorted_selected_result)+1):
    print(f"{i} {sorted_selected_result[i-1][0]} {sorted_selected_result[i-1][1]}")



x = bubble_sort(selected_result)
#print(sorted_selected_result)
print(x)

Rank Id Score

1 Player175 1734
2 Player299 1724
3 Player173 1723
4 Player168 1678
5 Player166 1670
6 Player213 1609
7 Player193 1558
8 Player305 1535
9 Player189 1519
10 Player102 1499
11 Player170 1475
12 Player231 1466
13 Player233 1454
14 Player232 1431
15 Player285 1426
16 Player287 1400
17 Player136 1394
18 Player157 1375
19 Player113 1362
20 Player245 1270
[['Player175', 1734], ['Player299', 1724], ['Player173', 1723], ['Player168', 1678], ['Player166', 1670], ['Player213', 1609], ['Player193', 1558], ['Player305', 1535], ['Player189', 1519], ['Player102', 1499], ['Player170', 1475], ['Player231', 1466], ['Player233', 1454], ['Player232', 1431], ['Player285', 1426], ['Player287', 1400], ['Player136', 1394], ['Player157', 1375], ['Player113', 1362], ['Player245', 1270]]

## Task 3.3

Each country can be represented by one to five players. The total score for a country is computed by taking the average score of all the players who represented the country. The score should be rounded to an integer value. Print the results of each country as follows:

<table style="font-family: 'Courier New', monospace; border-collapse: collapse; width: 50%;">
  <tr>
    <td style="border: 1px solid transparent; padding: 8px; text-align: center;">Country</td>
    <td style="border: 1px solid transparent; padding: 8px; text-align: center;">Num. Players</td>
    <td style="border: 1px solid transparent; padding: 8px; text-align: center;">Score</td>
  </tr>
  <tr>
    <td style="border: 1px solid transparent; padding: 8px; text-align: center;">SIN</td>
    <td style="border: 1px solid transparent; padding: 8px; text-align: center;">5</td>
    <td style="border: 1px solid transparent; padding: 8px; text-align: center;">1533</td>
  </tr>
  <tr>
    <td style="border: 1px solid transparent; padding: 8px; text-align: center;">MAS</td>
    <td style="border: 1px solid transparent; padding: 8px; text-align: center;">3</td>
    <td style="border: 1px solid transparent; padding: 8px; text-align: center;">1438</td>
  </tr>
  <tr>
    <td style="border: 1px solid transparent; padding: 8px; text-align: center;">IND</td>
    <td style="border: 1px solid transparent; padding: 8px; text-align: center;">1</td>
    <td style="border: 1px solid transparent; padding: 8px; text-align: center;">1723</td>
  </tr>
  <tr>
    <td style="border: 1px solid transparent; padding: 8px; text-align: center;">KOR</td>
    <td style="border: 1px solid transparent; padding: 8px; text-align: center;">1</td>
    <td style="border: 1px solid transparent; padding: 8px; text-align: center;">1519</td>
  </tr>
  <tr>
    <td style="border: 1px solid transparent; padding: 8px; text-align: center;">TPE</td>
    <td style="border: 1px solid transparent; padding: 8px; text-align: center;">2</td>
    <td style="border: 1px solid transparent; padding: 8px; text-align: center;">1409</td>
  </tr>
  <tr>
    <td style="border: 1px solid transparent; padding: 8px; text-align: center;">MAC</td>
    <td style="border: 1px solid transparent; padding: 8px; text-align: center;">1</td>
    <td style="border: 1px solid transparent; padding: 8px; text-align: center;">1400</td>
  </tr>
</table>

<div style='text-align: right; font-family: Courier New, monospace;'>[5]</div>

In [40]:
# Task 3.3


total_score = {}
total_players = {}

#print(result)
for i in result:
    country = i[1]
    #print(country)
    sum_person = 0
    for j in range (2, 8):
        sum_person += hex_to_denary (i[j])
    if country in total_score:
        total_score[country] += sum_person
    else:
        total_score[country] = sum_person
    
    if country in total_players:
        total_players[country] += 1
    else:
        total_players[country] = 1

# print(total_score)
# print(total_players)

total_score_sorted = list(sorted(total_score.items(), key = lambda x: x[1], reverse = True))
# print(total_score_sorted)


print(f"Country Num. Player Score")
for i in range (len(total_score_sorted)):
    key_country = str(total_score_sorted[i][0])
    no_participants = total_players[key_country]
    no_score = total_score[key_country]
    print(f"{key_country} {no_participants} {no_score}")
    #print(key_country)

Country Num. Player Score
SIN 5 7973
IND 4 6157
TPE 3 4519
MAC 3 4320
MAS 3 4315
KOR 2 3018