# Task 4

A bowling competition management system needs to implement a relational database to store information for its players and results during the competition. A web application is also used to display the results and to provide data entry operations.

## Task 4.1

Create a bowling competition database named `Task4.db` with three tables. Write SQL statements to create the three tables Player, Country and Game described by the following:

- The Player table contains information of players in the competition. It has a PlayerID, Name, CountryCode, Gender and DateOfBirth.
- The Country table contains the information of the country represented in the competition. It has a Country Code, CountryName, PlayerID of Team captain.
- The Game table contains the scores obtained by the players during the competition. It has GameID, PlayerID, DatePlayed, StartTime, and Score.

PlayerID is the primary key for the Player table. It should auto-increment. A player plays a maximum of six games in the competition.

GameID is the primary key for the Game table. It should auto-increment.

CountryCode is the primary key for the Country table. The team captain for the country must be a player.

You should include appropriate constraints in your CREATE statements.

Save your SQL code as `Task4_1 <your name>.sql`
<div style='text-align: right; font-family: Courier New, monospace;'>[4]</div>

In [3]:
# Task 4.1

CREATE TABLE "Player" (
	"PlayerID"	INTEGER UNIQUE,
	"Name"	TEXT,
	"CountryCode"	TEXT,
	"Gender"	TEXT,
	"DateOfBirth"	DATE,
	PRIMARY KEY("PlayerID"),
	FOREIGN KEY("CountryCode") REFERENCES "Country"("CountryCode")
);


CREATE TABLE "Country" (
	"CountryCode"	TEXT UNIQUE,
	"CountryName"	TEXT UNIQUE,
	"PlayerID"	INTEGER,
	PRIMARY KEY("CountryCode" AUTOINCREMENT),
	FOREIGN KEY("PlayerID") REFERENCES "Player"
);

CREATE TABLE "Game" (
	"GameID"	INTEGER,
	"PlayerID"	INTEGER,
	"DatePlayed"	DATE,
	"StartTime"	INTEGER,
	"Score"	TIME,
	PRIMARY KEY("GameID" AUTOINCREMENT)
	FOREIGN KEY("PlayerID") REFERENCES "Player"
);

SyntaxError: invalid syntax. Perhaps you forgot a comma? (514645033.py, line 4)

## Task 4.2

Write Python code to import the data from `COUNTRY.TXT` into the Country table.
<div style='text-align: right; font-family: Courier New, monospace;'>[4]</div>

In [1]:
# Task 4.2
import sqlite3
import csv

def import_country(db_name):

    conn = sqlite3.connect(db_name)
    cursor = conn.cursor()

    with open("Country.TXT", "r") as f:
        file = csv.reader(f)
        list = [i for i in file]
        for country in list:
            country_name = country[0]
            country_code = country [1]
            cursor.execute("INSERT INTO Country (CountryCode, CountryName) VALUES (?, ?)", (country_code, country_name))
    conn.commit()
    conn.close()

import_country("TASK4.db")

## Task 4.3

Write a SQL query that shows:

- The player name
- The mean score for each player and the number of games played in the competition.
<div style='text-align: right; font-family: Courier New, monospace;'>[4]</div>

In [1]:
# Task 4.3

SELECT
  Player.Name,
  AVG(Game.Score) AS MeanScore,
  COUNT(Game.GameID) AS GamesPlayed
FROM
  Player
JOIN
  Game ON Player.PlayerID = Game.PlayerID
GROUP BY
  Player.PlayerID, Player.Name;

IndentationError: unexpected indent (606486046.py, line 4)

## Task 4.4
Create a web application using Python code and the necessary files that allows players information to be entered into the Players table and stored in the database.
<div style='text-align: right; font-family: Courier New, monospace;'>[6]</div>

In [7]:
# Task 4.4

from flask import Flask, render_template, request
import sqlite3

app = Flask(__name__)
db_name = "Task4.db"

@app.route("/")
def home():
    return render_template('index.html')

@app.route('/add_player', methods = ['POST'])
def add_player():
    name = request.form['name']
    country_code = request.form['country_code']
    gender = request.form['gender']
    dob = request.form['dob']

    conn = sqlite3.connect(db_name)
    cursor = conn.cursor()
    sql_query = f"Insert into Player (Name, CountryCode, Gender, DateOfBirth) VALUES ({name}, {country_code}, {gender}, {dob} )"
    #cursor.execute("INSERT into PLayer (Name, CountryCode, Gender, DateOfBirth) VALUES (?, ?,?, ?)", (name, country_code, gender, dob))
    cursor.execute (sql_query)
    conn.commit()
    conn.close()

app.run()

 * Serving Flask app '__main__'
 * Debug mode: off

WARNING: This is a development server. Do not use it in a production deployment. Use a production WSGI server instead.
 * Running on http://127.0.0.1:5000
Press CTRL+C to quit